
.status-logo-container{
    position:absolute;
    padding: 15px;
}
.logo-bq-container{
    margin: 15px;
}
/*
.logo-sg-container{
    position:absolute;
    left: 50px;
    top: 75px;
}
*/
.status-button-container{
    position:absolute;
    right: 150px;
    top:100px;
}
