
.status-logo-container{
    position:absolute;
}
/*
.logo-sg-container{
    position:absolute;
    left: 50px;
    top: 75px;
}
*/
.status-button-container{
    position:absolute;
    right: 150px;;
    top:100px;
}
